on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
name: "Build & Release"
jobs:
  build:
    name: Build & Release
    runs-on: windows-latest
    steps:
      # Checkout repository
      - uses: actions/checkout@v3

      # Setup Java environment with Java 17
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      # Setup Flutter
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64

      # Install Android Command-Line Tools
      - name: Install Android Command-Line Tools
        run: |
          mkdir -p "$ANDROID_HOME/cmdline-tools"
          curl -o commandlinetools.zip https://dl.google.com/android/repository/commandlinetools-win-8512546_latest.zip
          Expand-Archive -Path commandlinetools.zip -DestinationPath "$ANDROID_HOME/cmdline-tools"
          
          # Get the directory and rename it
          $dir = Get-ChildItem -Path "$ANDROID_HOME/cmdline-tools" | Where-Object { $_.Name -ne "latest" } | Select-Object -First 1
          if ($dir) {
            Rename-Item -Path $dir.FullName -NewName "latest"
          } else {
            Write-Host "Directory for Android command line tools not found."
          }

      # Install Android SDK Platforms and Tools
      - name: Install Android SDK Platforms and Tools
        run: |
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager "platforms;android-33" "build-tools;33.0.2"

      # Clean Environment
      - name: Clean Environment
        run: |
          flutter clean
          if (Test-Path "$env:USERPROFILE\.gradle\caches") { Remove-Item -Recurse -Force "$env:USERPROFILE\.gradle\caches" }
          if (Test-Path "$env:USERPROFILE\.gradle\daemon") { Remove-Item -Recurse -Force "$env:USERPROFILE\.gradle\daemon" }
          if (Test-Path "$env:USERPROFILE\.gradle\native") { Remove-Item -Recurse -Force "$env:USERPROFILE\.gradle\native" }
          if (Test-Path "$env:USERPROFILE\.gradle\wrapper") { Remove-Item -Recurse -Force "$env:USERPROFILE\.gradle\wrapper" }
          if (Test-Path ".\packages\flutter_tools\gradle\build") { Remove-Item -Recurse -Force ".\packages\flutter_tools\gradle\build" }

      # Fetch Flutter dependencies
      - name: Get Flutter Dependencies
        run: flutter pub get

      # Build Android (APK)
      - name: Build Android APK
        run: flutter build apk --debug --split-per-abi

      # Push to Debug
      - name: Push to Debug
        uses: ncipollo/release-action@v1
        with:
          artifacts: build/app/outputs/apk/debug/*
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.TOKEN }}